*.csv filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
/Users/digarg/Desktop/full_time_work/online_study/walmart_kaggel/*.ipynb filter=lfs diff=lfs merge=lfs -text
/Users/digarg/Desktop/full_time_work/online_study/walmart_kaggel/*.csv filter=lfs diff=lfs merge=lfs -text
